* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

header {
    background-color: #000;
    width: 100%;
}

.background-image {
    background: url('../image/background.jpg');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

.bigtext {
    color:  rgb(241, 238, 238);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 12vh;
    margin: 0 auto;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    background-color: #fff;
    width: 25px;
    height: 4px;
    margin: 15% 0;
    transition: transform 0.2s ease;
}

.logo {
    color: #fff;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Heebo', sans-serif;
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    } 
    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 92vh;
        position: absolute;
        top: 12%;
        right: 0;
        transform: translateX(100%);
        background-color: #000;
        z-index: 10;
        display: none;
        transition: transform 0.5s ease-in;
    }
    .burger {
        display: block;
    }
}

.nav-links-open {
    transform: translateX(0%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.burger-line .line1 {
    transform: rotate(-45deg);
}

.burger-line .line2 {
    transform: translateX(3px);
    width: 28px;
}

.burger-line .line3 {
    transform: rotate(45deg);
}

